<div class="toolbar" role="banner">

    <h1><b> <span>OMNIWYSE ANNOUNCEMENTS</span></b></h1>
 
    <button id="logout" class="span1"  (click)="logout()"><b>Logout</b></button>
 
 </div>
   <hr><hr><hr><hr><hr><hr>
   <button class="back" (click)="Back()">Back</button> 

   <h1><b> <span style="height: 40px;width:100px;margin:0 40%;position:relative;left:-50px;">Create Announcement</span></b></h1>
  <form   [formGroup] = "notificationForm">

<div class="form1">
    
    <p><label>Title:</label></p>
    <p> <input type="text"  size="50"  style="height: 30px; font-size: 14pt;" formControlName="title"></p>

    <p><label>Description:</label></p>
   <p> <input type="text"  size="50"  style="height: 60px; font-size: 14pt;" formControlName="description"></p>

 <p><label>Details:</label></p>
   <p> <input type="text"  size="50"  style="height: 120px; font-size: 14pt;" formControlName="details"></p>

   <p><label>Link:</label></p>
   <p><input type="text"  size="50"  style="height: 30px; font-size: 14pt;" formControlName="link"></p>

   <p><label>Image:</label></p>
    <p><input type="file" (change)="onFileSelected($event)"></p>
   
    <p><label>select tags:</label></p>
    <p><select style="height: 40px;" formControlName="tags">
        <option>employees</option>
        <option>javaTeam</option>
        <option>javascriptTeam</option>
    </select>&nbsp;&nbsp;<b>* required</b>

 <!--  <p><label for="Sheduled Time/Date">Sheduled Time/Date:</label></p>  
    <p><input type="datetime-local" id="Sheduled Time/Date" name="Sheduled Time/Date" size="60"  required></p> -->
    <br>
    <br>
    <p><input type="submit" value="Send Now" (click)="postAnnouncement()" size="50" style='height: 40px;width:100px;margin:0 50%;position:relative;left:-50px;background-color: rgb(80, 226, 80);'></p>
    
</div>
</form>

